<!DOCTYPE html>
{% include("cabecera.html") %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        
        .text-primary { color: #e8b542; } 
        .text-center { text-align: center; }
        .mb-5 { margin-bottom: 5rem; }
        .container { background-color: #c90302; }
        .card { background-color: #a4a4a4; box-shadow: 0px 0px 10px #a4a4a4; }
        .form-control { background-color: #ffffff; }
        .btn-primary { background-color: #c90302; border-color: #a4a4a4; }
        
        .btn-danger { background-color: #c90302; border-color: #a4a4a4; }
        .btn-danger:hover { background-color: #a4a4a4; border-color: #a4a4a4; }
        
        .table-gris { background-color: #e8b542; }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>
  <h1 class="text-center mt-5 mb-5 text">Registro de Administradores</h1>  

  <div class="container">
    <div class="card shadow">
        <div class="card-body">
            <div data-bs-theme="dark" class="d-flex">
                
                <div class="ms-auto">
                    <button type="button" class="btn-close close" data-form="alumnos"></button>
                </div>
            </div>
        </div>
            <form action="/useradmin" method="POST">
                <div class="row mb-3">
                    <div class="col-3">
                    <div class="col-9">
                          <label class="text">Correo</label> 
                          <input type="text" class="form-control mb-3" name="correo">
                        </div>
                        <div class="col-9">
                        <label class="text">Contraseña</label> 
                        <input type="text" class="form-control mb-3" name="password">
                        </div>
                    <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </form>
            
            <table class="table table-bordered table-gris"> <!-- Agregar la clase table-gris a la tabla -->
                <thead>
                    <th scope="col" class="text">#</th>
                    <th scope="col" class="text">Correo</th>
                    <th scope="col" class="text">Contraseña</th>
                    <th scope="col" class="text">Edit</th>
                    <th scope="col" class="text">Delete</th>
                </thead>
            
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.correo}}</td>
                    <td>{{d.password}}</td>
                    <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id}}">Edit</button></td>
                    <td><a href="{{ url_for('deleteadmin', id=d.id) }}" class="btn btn-danger btn-sm">Delete</a></td>
               </tr>
               <!-- Modal -->
               <div class="modal fade" id="modal{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-primary" id="exampleModalLabel">{{d.nombre}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/editadmin/{{d.id}}" method="post">
                                <label class="text-primary">Correo</label>
                                <input type="text" class="form-control mb-3" name="correo" value="{{d.correo}}">
                                <label class="text-primary">Contraseña</label>
                                <input type="text" class="form-control mb-3" name="password" value="{{d.password}}">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
                       {% endfor%}
                    </tbody>
                </table>
                </div>
            </div>
          </div>
        </body>
        </html>



