<!DOCTYPE html>
{% include("cabecera.html") %}
{% include("alerta.html") %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservacion de Local</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_alert.css')}}">
    <style>
        body {background-color: #e8b542; /* color de fondo pagina */}
           
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>

<script>
    function confirmDelete(id) {
        if (confirm("¿Estás seguro de que quieres eliminar esta reservacion?")) {
            window.location.href = "/deletelocal/" + id;
        }
    }
    function search() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dataTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1]; // Cambiar el índice según la columna que desees buscar
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
</script>

<script>
    function calcularTotal() {
        // Obtener valores de los campos de entrada
        var c_mesas = parseFloat(document.getElementById('c_mesas').value) || 0;
        var c_sillas = parseFloat(document.getElementById('c_sillas').value) || 0;
        var c_manteles = parseFloat(document.getElementById('c_manteles').value) || 0;
        
        // Obtener el valor de t_reservacion
        var t_reservacion = parseFloat(document.getElementById('t_reservacion').options[document.getElementById('t_reservacion').selectedIndex].dataset.precio) || 0;

        // Calcular la suma incluyendo el valor de t_reservacion
        var total = c_mesas * 2 + c_sillas * 0.50 + c_manteles + t_reservacion;

        // Agregar el signo "$" al valor total
        var totalConSigno = total.toFixed(2);

        // Actualizar el campo de entrada "total" con el valor total y el signo "$"
        document.getElementById('total').value = totalConSigno;
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
            var reservacion = "{{t_reservacion}}"; 

        var selectElement = document.getElementById('t_reservacion');
        for (var i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === reservacion) {
                selectElement.options[i].selected = true;
                break;
            }
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
            var pagoo = "{{pago}}"; 

        var selectElement = document.getElementById('pago');
        for (var i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === pagoo) {
                selectElement.options[i].selected = true;
                break;
            }
        }
    });
</script>

<script>
   

    // Función para calcular el total en el formulario de edición
    function calcularTotalEditar(id) {
        // Obtener valores de los campos de entrada en el formulario de edición específico
        var c_mesas = parseFloat(document.getElementById('c_mesasEditar' + id).value) || 0;
        var c_sillas = parseFloat(document.getElementById('c_sillasEditar' + id).value) || 0;
        var c_manteles = parseFloat(document.getElementById('c_mantelesEditar' + id).value) || 0;
        var t_reservacion = parseFloat(document.getElementById('t_reservacion').options[document.getElementById('t_reservacion').selectedIndex].dataset.precio) || 0;

        // Calcular la suma
        var total = c_mesas * 2 + c_sillas * 0.50 + c_manteles+ t_reservacion;

        // Agregar el signo "$" al valor total
        var totalConSigno = total.toFixed(2);

        // Actualizar el campo de entrada "total" con el valor total y el signo "$"
        document.getElementById('totalEditar' + id).value = totalConSigno;
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var fechaInput = document.getElementById('fechaInput');
        fechaInput.addEventListener('change', function () {
            var seleccionada = new Date(this.value);
            var hoy = new Date();

            // Compara las fechas
            if (seleccionada < hoy) {
                alert("La fecha no puede ser menor a la fecha actual.");
                this.value = ''; // Limpiar la fecha seleccionada
            }
        });
    });
</script>



<body>
    
   
    <h1 class="text-center mt-5 mb-5 text">Reservaciones de Establecimiento</h1>  
    <div class="container">
        {% if mensaje_error %}
        <div class="alert alert-danger">
            {{ mensaje_error }}
        </div>
        {% endif %} 
      <div class="card shadow">

      
        <form action="/userlocal" method="POST" validateForm()>
           
            <div class="row mb-3">
                <div class="col-3 form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="nombre"  name="nombres" value="{{nombres}}" required>
                    <label for="floatingInput">Nombres</label>
                </div>
                <div class="col-3 form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="apellido" name="apellidos"  value="{{apellidos}}" required>
                    <label for="floatingInput">Apellidos</label> 
                </div>
                <div class="col-3 form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="DUI" name="DUI" value="{{DUI}}" required>
                    <label for="floatingInput">DUI</label> 
                </div>
                <div class="col-3 form-floating">
                    <input type="text" class="form-control mb-3" id="floatingInput" placeholder="telefono" name="telefono" value="{{telefono}}" required>
                    <label for="floatingInput">Telefono</label> 
                </div>
                <div class="col-3 form-floating">
                    <select class="form-select mb-3" name="t_reservacion" id="t_reservacion" value="{{t_reservacion}}" onchange="calcularTotal()">
                        <option value="" data-precio="0"></option>
                        <option value="Planta Alta $125" data-precio="125">Planta Alta $125</option>
                        <option value="Planta baja $150" data-precio="150">Planta baja $150</option>
                        <option value="Local Completo $225" data-precio="225">Local Completo $225</option>
                    </select>
                    <label for="floatingInput">Tipo de Reservacion</label>
                </div>
                <div class="col-3 form-floating">
                    <input type="text" class="form-control mb-3"  placeholder="Cantidad Mesas" name="c_mesas" id="c_mesas" value="{{c_mesas}}" required oninput="calcularTotal()">
                    <label for="floatingInput">Cantidad Mesas</label> 
                </div>

                <div class="col-3 form-floating">
                    <input type="text" class="form-control mb-3"  placeholder="Cantidad Sillas" name="c_sillas" value="{{c_sillas}}" id="c_sillas" required oninput="calcularTotal()">
                    <label for="floatingInput">Cantidad Sillas</label> 
                </div>
                <div class="col-3 form-floating">  
                    <input type="text" class="form-control mb-3"  placeholder="Cantidad Manteles" name="c_manteles" value="{{c_manteles}}" id="c_manteles" required oninput="calcularTotal()">
                    <label for="floatingInput">Cantidad Manteles</label>                
                </div>
                
                <div class="col-3 form-floating">
                    <input type="date" class="form-control" placeholder="fecha" name="fecha" id="fechaInput" value="{{fecha}}" required>
                    <label for="floatingInput">Fecha a Rentar</label> 
                </div>

                <div class="col-3 form-floating">
                    <input type="text" class="form-control mb-3"  placeholder="total" name="total" value="{{total}}" id="total" required>
                    <label for="floatingInput">Total</label> 
                </div>

                <div class="col-3 form-floating">
                    <select class="form-select mb-3" name="pago" value="{{pago}}" id="pago" required>
                        <option value=""></option>
                        <option value="Inventario Devuelto">Inventario Devuelto</option>
                        <option value="Pagado">Pagado</option>
                        <option value="Pendiente">Pendiente</option>
                    </select>
                    <label for="floatingInput">Pago</label>
                </div>

                <div class="col">
                    <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                </div>
                
                <div class="mb-3">
                    <label class="text">Buscar:</label>
                    <input type="text" class="form-control mb-3" id="searchInput" onkeyup="search()" placeholder=" ">
                </div>
                
                
          

            </div>
        </form>
        
        <table id="dataTable" class="table table-bordered table-gris">
            <thead>
                <th scope="col" class="text">#</th>
                <th scope="col" class="text">Nombre</th>
                <th scope="col" class="text">Apellido</th>
                <th scope="col" class="text">DUI</th>
                <th scope="col" class="text">Telefono</th>
                <th scope="col" class="text">Tipo de Reservacion</th>
                <th scope="col" class="text">Cantidad Mesas</th>
                <th scope="col" class="text">Cantidad Sillas</th>
                <th scope="col" class="text">Cantidad Manteles</th>
                <th scope="col" class="text">Fecha</th>
                <th scope="col" class="text">Total</th>
                <th scope="col" class="text">Pago</th>
                <th scope="col" class="text">Editar</th>
                <th scope="col" class="text">Eliminar</th>
            </thead>
        
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.nombres}}</td>
                    <td>{{d.apellidos}}</td>
                    <td>{{d.DUI}}</td>
                    <td>{{d.telefono}}</td>
                    <td>{{d.t_reservacion}}</td>
                    <td>{{d.c_mesas}}</td>
                    <td>{{d.c_sillas}}</td>
                    <td>{{d.c_manteles}}</td>
                    <td>{{d.fecha}}</td>
                    <td>{{d.total}}</td>
                    <td>{{d.pago}}</td>
                    
                    
                    <td><button class="btn btn-primary btn-sm" id="btn-edit{{d.id}}" data-bs-toggle="modal" data-bs-target="#modal{{d.id}}">Editar</button></td>
                    <td><button class="btn btn-danger btn-sm" onclick="confirmDelete('{{d.id}}')">Eliminar</button></td>
                </tr>
                <!-- Modal -->
                <div class="modal fade" id="modal{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-primary" id="exampleModalLabel">{{d.nombre}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/editlocal/{{d.id}}" method="post">
                                    <div class="col-3">
                                        <label class="text-primary">Nombre</label>
                                        <input type="text" class="form-control mb-3" name="nombres" value="{{d.nombres}}">
                                    </div>
                                    <div class="col-3">
                                        <label class="text-primary" >Apellido</label>
                                        <input type="text" class="form-control mb-3" name="apellidos" value="{{d.apellidos}}">
                                    </div>
                                    <div class="col-3">
                                        <label class="text-primary">DUI</label>
                                        <input type="text" class="form-control mb-3" name="DUI" value="{{d.DUI}}">
                                    </div>
                                    <div class="col-3">
                                        <label class="text-primary">Telefono</label>
                                        <input type="text" class="form-control mb-3" name="telefono" value="{{d.telefono}}">
                                    </div>
                                    <div class="col-3">
                                        <select class="form-select mb-3" name="t_reservacion" id="t_reservacion" value="{{d.t_reservacion}}" onchange="calcularTotalEditar()">
                                            
                                            <option value="Planta Alta $125" data-precio="125">Planta Alta $125</option>
                                            <option value="Planta baja $150" data-precio="150">Planta baja $150</option>
                                            <option value="Local Completo $225" data-precio="225">Local Completo $225</option>
                                        </select>
                                        <label class="text">Tipo de Reservacion</label>
                                    </div>
                                    <div class="col-3">
                                        <label class="text-primary">Cantidad Mesas</label> 
                                        <input type="text" class="form-control mb-3" name="c_mesas" id="c_mesasEditar{{d.id}}" value="{{d.c_mesas}}" required oninput="calcularTotalEditar('{{d.id}}')">
                                       
                                    </div>
                    
                                    <div class="col-3">
                                        <label class="text-primary">Cantidad Sillas</label> 
                                        <input type="text" class="form-control mb-3" name="c_sillas" id="c_sillasEditar{{d.id}}" value="{{d.c_sillas}}" required oninput="calcularTotalEditar('{{d.id}}')">
                                       
                                    </div>
                                    <div class="col-3">
                                        <label class="text-primary">Cantidad Manteles</label> 
                                        <input type="text" class="form-control mb-3" name="c_manteles" id="c_mantelesEditar{{d.id}}" value="{{d.c_manteles}}" required oninput="calcularTotalEditar('{{d.id}}')">
                                       
                                    </div>
                                    <div class="col-3">
                                        <label class="text-primary">Fecha</label>
                                        <input type="date" class="form-control mb-3" name="fecha" value="{{d.fecha}}">
                                    </div>
                                    <div class="col-3">
                                        <label class="text-primary">Total</label>
                                        <input type="text" class="form-control mb-3" name="total" id="totalEditar{{d.id}}" value="{{d.total}}" required>
                                    </div>
                                    <div class="col-3">
                                        <label class="text">Pago</label>
                                        <select class="form-select mb-3" name="pago" value="{{d.pago}}">
                                            <option value="Inventario Devuelto">Inventario Devuelto</option>
                                            <option value="Pagado">Pagado</option>
                                            <option value="Pendiente">Pendiente</option>
                                        </select>
                                    </div>
                                  
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor%}
            </tbody>
        </table>
    </div>
  </div>
  <div class="bfinal">
    <p>&nbsp;</p>
    <p class="fs-2 fw-bold text-center ">2023</p>
    
   </div>  
</body>
</html>